network:
  ethernets:
    ens3:
      addresses: [10.10.1.{{ IP_VAR }}/24]
      gateway4: 10.10.1.2
      nameservers:
        addresses: [8.8.8.8,8.8.4.4]
    ens4:
      addresses: [10.10.2.{{ IP_VAR }}/24]
    ens5:
      addresses: [10.10.3.{{ IP_VAR }}/24]
    ens6:
      addresses: [10.10.4.{{ IP_VAR }}/24]
    ens7:
      addresses: [10.10.5.{{ IP_VAR }}/24]
    ens8:
      addresses: [10.10.6.{{ IP_VAR }}/24]


  version: 2
