network:
  ethernets:
    ens3:
      addresses: [10.20.1.{{ IP_VAR }}/24]
      nameservers:
        addresses: [8.8.8.8,8.8.4.4]
      gateway4: 10.20.1.1
    ens4:
      addresses: [10.20.2.{{ IP_VAR }}/24]
    ens5:
      addresses: [10.20.3.{{ IP_VAR }}/24]
    ens6:
      addresses: [10.20.4.{{ IP_VAR }}/24]
    ens7:
      addresses: [10.20.5.{{ IP_VAR }}/24]
    ens8:
      addresses: [10.20.6.{{ IP_VAR }}/24]


  version: 2
